.memoria{

    min-height:100vh;
    box-sizing:border-box;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;

    padding:1rem;
    padding-top:2rem;

}

body{

   background-image:url("../img/memoria/fundomemoria_.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

}

#tabuleiro{

    margin:1.5rem 0;

    display:grid;

    gap:20px;

    padding:20px;
    background:rgba(0,0,0,.25);
    backdrop-filter:blur(3px);
    border-radius:20px;

}

#tabuleiro img{

    object-fit: cover;
    background: #111;

background:#111;

  width:140px;
height:150px;

    border-radius:12px;

    cursor:pointer;

    border:1px solid var(--border);

    transition:
transform .25s,
box-shadow .25s,
border-color .25s;

   box-shadow:0 10px 30px rgba(0,0,0,.65);

}

#tabuleiro img:hover{

    transform:translateY(-6px);

    box-shadow:0 15px 35px rgba(0,0,0,.45);
    
    border-color:var(--text);

}

@media(max-width:650px){

#tabuleiro{

grid-template-columns:repeat(2,130px);

}

}

.status{
    
    display:flex;
    
    gap:4rem;
    
    margin-bottom:2rem;
    
    color:#F2F2F2;
opacity:.85;
    
    font-weight:550;

    letter-spacing:2px;

    text-shadow:0 0 8px rgba(0,0,0,.8);

}


#vitoria{

    display:none;

    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1000;

    text-align:center;

    background:rgba(10,10,10,.88);
    backdrop-filter:blur(6px);

    border:1px solid var(--border);

    padding:2rem;

    border-radius:18px;

}


#vitoria button{

    margin-top:1rem;

    padding:12px 30px;

    background:transparent;

    border:1px solid var(--text-secondary);

    color:var(--text);

    border-radius:12px;

    cursor:pointer;

    transition:.25s;

}

#vitoria button:hover{

    background:var(--text);

    color:#111;

}



@media(max-width:768px){
    
    #tabuleiro{
        
        gap:10px;
        padding:10px;
        
    }
    
    #tabuleiro img{
        
        width:75px;
        height:85px;
        
    }
    
    .status{
        
        flex-direction:column;
        gap:10px;
        text-align:center;
        font-size:.9rem;
        
    }
}

@media(max-width:650px){

  #tabuleiro{

        grid-template-columns:repeat(2,130px);

}
}

.btn-voltar{
    position:fixed;
    top:20px;
    left:20px;

    padding:10px 18px;

    background:rgba(0,0,0,.5);

    border:1px solid #555;

    border-radius:12px;

    color:white;

    text-decoration:none;

    z-index:999;
}